!DOCTYPE_MODULO(`

.field-pair,
button {
    border: 3px solid var(--color-outline-semilight);
    border-top-width: 2px;
    border-bottom-width: 4px;
    border-radius: 4px;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
}

.field-pair {
    display: grid;
    grid-template-columns: 130px 1fr;
    padding: 10px;
}

.field-pair > * {
    border: none;
    font-size: 1.5rem;
    padding: 5px;
    font-weight: normal;
    font-family: var(--serif-font);
}
.field-pair > :first-child {
    text-transform: uppercase;
    letter-spacing: 2px;
}

button {
    font-family: var(--serif-font);
    background-color: var(--color);
    color: white;
    margin-left: 20%;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

/* Mobile support */
@media (max-width: 992px) {
    .field-pair,
    button {
        margin: 2px;
        width: auto;
    }
}

`)
