!DOCTYPE_MODULO(`

/* Store CSS variables in :host selector, accessible to styles in Page.html */
:host {
    --footer-height: 150px;
    --navbar-height: 68px;
    --logo-width: 50px;
    --logo-height: 50px;
    --btn-shadow-dist: 4px;
    --btn-shadow-dist-neg: -4px;
    --color: rgb(200,106,92);
    --color-alt: #393d6e;
    --color-alt2: #ffef62;
    --color-fg: black;
    --color-content-bg: white;
    --color-content-bg-semi: #EEEEEECC;
    --color-outline: #111;
    --color-outline-semi: #00000088;
    --color-outline-semidark: #000000ba;
    --color-outline-semilight: #00000033;
    --cursive-font: 'Tangerine';
    --serif-font: 'Goudy Bookletter 1911';
}



.container {
    background: 
      url('../../images/recife-bg-ground-zero-2014135_1920.jpg') repeat-x,
      linear-gradient(to bottom, var(--color), #eee);
}

/* Create simple layout with a 1200px max-width for content on desktop */
.container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}




.container > * {
    grid-column: 2;
}

.page-container {
    min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}


.page-nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    box-shadow: 0 5px #eee;
    height: var(--navbar-height);
    box-shadow:
        -15px -15px 50px 0 inset var(--color-outline-semi),
        5px 5px 10px 5px var(--color-outline-semi);
}

.page-nav .nav-logo {
    width: var(--logo-width);
    height: var(--logo-height);
    margin: 10px;
    margin-left: auto;
}

.page-nav img {
    max-width: 100%;
}

.page-nav ul {
    display: flex;
    justify-content: center;
    background: var(--color-alt);
    color: white;
    margin: 0;
    padding: 0;
}

.page-nav li {
    list-style: none;
    margin: 10px;
    padding: 10px;
}

.page-nav li.page-li--selected {
}


li.page-li--home {
    border: none;
}


.page-nav-link {
    font-size: 22px;
    display: block;
    padding: 5px;
    padding-top: 10px;
    text-decoration: none;
    font-family: var(--serif-font);
    font-weight: normal;
    border: 1px solid var(--color-bg);
    color: white;
    border-radius: 5px;
}

.page-nav-link:hover {
    color: var(--color-alt2);
}

.page-nav-link--home {
    font-size: 55px;
    line-height: 0.6;
    border: none;
    font-weight: 400;
    padding: 0;
    margin-right: 20px;
    font-family: var(--cursive-font)
}

.page-nav-link--selected {
    color: var(--color-alt2)
}

li.page-li--home .page-nav-link--selected {
    color: white;
}

.page-footer {
    height: var(--footer-height);
    text-align: center;
    padding-top: 100px;
    background: var(--color-content-bg-semi);
    color: var(--color-outline-semi);
}

.page-footer a { 
    color: var(--color-outline-semi);
}

.article-nav li {
    list-style: none;
    padding: 10px;
}

.breadcrumb {
    color: var(--color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 10px;
    margin-left: 0;
    display: inline-block;
}

.breadcrumb--selected {
    color: var(--color-outline-semi);
}

.collapse-button {
    display: none;
    position: absolute;
    font-size: 50px;
    top: 0;
    left: 0;
    cursor: pointer;
    user-select: none;
    line-height: 0.8;
    padding: 2px;
    border: 3px solid var(--color-alt);
    transition: border-color 0.2s, color 0.2s;
}

.collapse-button:hover {
    border-color: var(--color-content-bg);
}

.collapse-button:active {
    border-color: var(--color-alt2);
    color: var(--color-alt2);
}


.language-switcher {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    padding: 20px;
    font-family: sans-serif;
}

.language-switcher > a {
    opacity: 0.5;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: var(--color-outline-semi);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    height: 34px;
    min-width: 100px;
}
.language-switcher img {
    height: 24px;
    margin-right: 5px;
}

.language-switcher > a:hover {
    opacity: 1.0;
}

/* Mobile support */
@media (max-width: 992px) {

    .page-nav {
        height: auto;
        text-align: center;
        overflow: hidden;
        border-radius: 0 0 2px 0;
        transition: border-radius 0.2s;
    }
    .page-nav > ul {
        border-radius: 0 0 2px 0;
        transition: border-radius 0.2s;
    }
    .page-nav.collapsed .language-switcher {
        display: none;
    }

    .page-nav.collapsed,
    .page-nav.collapsed > ul {
        height: 100px;
        width: 100px;
        border-radius: 0 0 80px 0;
    }
    .page-nav.collapsed > ul > * {
        display: none;
    }

    .page-nav.collapsed > ul > .collapse-button,
    .collapse-button {
        display: block;
    }


    .page-nav ul {
        flex-wrap: wrap;
    }
    .page-nav li {
        border-radius: 100px;
    }
    

    .page-nav-link {
        color: var(--color-content-bg);
        font-weight: bold;
        font-size: 28px;
        border: 3px solid var(--color-content-bg);
        border-bottom-width: 4px;
        border-top-width: 2px;
        display: block;
        padding: 10px;
        border-radius: 1px 1px 3px 3px;
        text-decoration: none;
        transition: box-shadow 0.3s;
        box-shadow: 
            0 0 var(--color),
            0 0 var(--color);
    }

    .page-nav ul {
        flex-wrap: wrap;
    }

    .page-nav-link--home {
        margin-top: 40px;
        border: none;
        width: 100vw;
        font-size: 55px;
    }

    .page-nav-link--selected {
        color: var(--color-alt2)
    }

}

`)
