!DOCTYPE_MODULO(`

<head>
    <title>{{ props.pagetitle }}</title>
    <meta charset="utf8" />
    <meta name="title" content="{{ props.pagetitle }}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="revisit-after" content="30 days">

    {# Uncomment the following to get started with SEO-friendly meta tags: #}
    {% comment %}
        <!-- (Note: Be sure to add the necessary props to x-Page!) -->
        <meta name="description" content="{{ props.description }}">
        <meta name="keywords" content="{{ props.keywords }}">
        <meta name="language" content="{{ props.language|default:"English" }}">
    {% endcomment %}

    {% comment %}
        Since this Component is "vanish-into-document", it's allowed to include
        loose LINK and SCRIPT tags, which will be interpreted and built,
        allowing you to more easily integrate existing HTML files here. E.g.:
    {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/site.css" />

</head>
<body>
    <nav class="page-nav collapsed"> <!-- Start collapsed on mobile -->
        <ul>
            <li class="collapse-button">
                <a 
                    class="collapse-button-a"
                    onClick="this.parentNode.parentNode.parentNode.classList.toggle('collapsed')"
                    >
                    &#x2630;
                </a>
            </li>
            {% for link in script.pages %}
                <li class="
                        {% if link.file == props.navselected %}page-li--selected{% endif %}
                        {% if link.style %}page-li--{{ link.style }}{% endif %}
                    ">
                    <a href="{{ link.file }}"
                        title="{{ link.title }}"
                        class="
                            page-nav-link
                            {% if link.file == props.navselected %}page-nav-link--selected{% endif %}
                            {% if link.style %}page-nav-link--{{ link.style }}{% endif %}
                        ">
                        {{ link.title }}
                    </a>
                </li>
            {% endfor %}

            {# Show a "hidden" Admin Panel tab, only if selected #}
            {% if props.navselected == "admin" %}
                <li class="page-li--selected">
                    <a class="page-nav-link page-nav-link--selected" href="/static/cms/admin/">
                        Admin Panel
                    </a>
                </li>
            {% endif %}

            {% comment %}
            <div class="nav-logo">
                <img src="./static/images/example_logo.svg" title="Site Logo" />
            </div>
            {% endcomment %}
        </ul>

        <div class="language-switcher">
            {% if script.current-language is "en" %}
                <a href="{{ script.ptURL }}?lang=pt">
                    &#x27F3;&nbsp;BR&nbsp;PT&nbsp;<img height="24" src="https://flagsapi.com/BR/flat/24.png"/>
                    <!--<img height="24" src="https://flagsapi.com/PT/flat/24.png"/>-->
                </a>
            {% else %}
                <a href="{{ script.enURL }}?lang=en">
                    &#x27F3;
                    <!--<img height="24" src="https://flagsapi.com/US/flat/24.png"/>
                    <img height="24" src="https://flagsapi.com/GB/flat/24.png"/>-->
                    US EN
                </a>
            {% endif %}
        </div>
    </nav>


    <div class="page-container container {% if props.showarticles %}articles-container{% endif %}">
        <main class="page-content" style="{{ props.contentstyle|default:'' }}">
            {% if props.navbreadcrumb %}
                    {% for link in script.pages %}
                        {% if link.file == props.navselected %}
                            <a href="{{ link.file }}" title="{{ link.title }}" class="breadcrumb">
                                {{ link.title }}
                            </a>
                        {% endif %}
                    {% endfor %}
                    <span class="breadcrumb">/</span>
                    <a href="#" title="{{ props.pagetitle }}" class="breadcrumb breadcrumb--selected">
                        {{ props.navbreadcrumb }}
                    </a>
            {% endif %}
            <slot></slot>
        </main>

        {% if props.showarticles %}
            <nav class="page-content">
                <h2 style="margin: 50px">Continue reading</h2>
                <section style="margin-top: 0">
                    <ul>
                        {% for link in script.articles %}
                            <li style="width: 100%">
                                <a href="{{ link.file }}" title="{{ link.title }}" style="display: flex; width: 80%;">
                                    <span >{{ link.title }}</span>
                                    <span >
                                        {{ link.byline }}
                                    </span>
                                    <span >
                                        <span style="font-size: 1.1rem">READ MORE</span>
                                        &raquo;
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </nav>
        {% endif %}
    </div>

    <footer class="page-footer">
        &bull; {% for link in script.pages %}
            <a href="{{ link.file }}">{{ link.title }}</a> &bull;
        {% endfor %}
        <!-- Feel free to delete this: -->
         <a href="https://modulojs.org/" title="Made with <3 & Modulo.js" target="_blank">%</a>
        &bull;
        <br />
        &copy; {{ script.currentYear }} All Rights Reserved by Rebecca Carvalho
    </footer>
</body>

`)
